<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>See entire list here </h3>
    <form action="/listing/new" method="GET">
        <button>Create New Listing</button>
    </form>

    <% for(let list of allListing){ %>
        <ul>
            <li><a href="/listing/<%= list._id %>" > <%=list.title %> </a></li>
        </ul>

    <% } %>
    
</body>
</html>